POSTGRES_DB=random_choice
POSTGRES_USER=random_user
POSTGRES_PASSWORD=random_password
DATABASE_URL=postgresql+psycopg://random_user:random_password@db:5432/random_choice

JWT_SECRET_KEY=dsfhbdsfgsdvgdsgv2163512g1ghhgf
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
